In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Reindexing Series

In [3]:
s1 = Series([1,2,3,4])

In [4]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
s2 = Series([1,2,3,4], index=['A','B','C','D'])

In [10]:
s2

A    1
B    2
C    3
D    4
dtype: int64

In [11]:
s2.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [15]:
s1.reindex(index=['A','B','C','D'])

A   NaN
B   NaN
C   NaN
D   NaN
dtype: float64

In [16]:
s2 = s1.reindex(index=[1,2,4], fill_value=10)

In [17]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [18]:
s2

1     2
2     3
4    10
dtype: int64

# Reindex DataFrame

In [23]:
a = np.random.rand(15).reshape(3,5)

In [24]:
a

array([[0.71040508, 0.10257696, 0.56744205, 0.90520116, 0.03573043],
       [0.77379519, 0.92332512, 0.01996809, 0.32974891, 0.96880401],
       [0.90633651, 0.61745165, 0.4580725 , 0.03952203, 0.46995191]])

In [27]:
df = DataFrame(a, index=[1,2,3], columns=['A','B','C','D','E'])
df

          A         B         C         D         E
1  0.710405  0.102577  0.567442  0.905201  0.035730
2  0.773795  0.923325  0.019968  0.329749  0.968804
3  0.906337  0.617452  0.458073  0.039522  0.469952

In [28]:
df[['A','B']]

          A         B
1  0.710405  0.102577
2  0.773795  0.923325
3  0.906337  0.617452

In [29]:
df.reindex(index=[1,2], columns=['C','D'])

          C         D
1  0.567442  0.905201
2  0.019968  0.329749

In [30]:
df.loc[[1,2],['C','D','F']]

/Users/charlielee/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

          C         D   F
1  0.567442  0.905201 NaN
2  0.019968  0.329749 NaN