In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series

In [2]:
s = Series(np.random.rand(10))

In [3]:
s

0    0.717102
1    0.688626
2    0.861626
3    0.065190
4    0.761917
5    0.304920
6    0.742713
7    0.077533
8    0.775613
9    0.980659
dtype: float64

In [5]:
s.sort_values(ascending=False)

9    0.980659
2    0.861626
8    0.775613
4    0.761917
6    0.742713
0    0.717102
1    0.688626
5    0.304920
7    0.077533
3    0.065190
dtype: float64

In [6]:
s.sort_index(ascending=False)

9    0.980659
8    0.775613
7    0.077533
6    0.742713
5    0.304920
4    0.761917
3    0.065190
2    0.861626
1    0.688626
0    0.717102
dtype: float64

In [9]:
s.max()

0.06519035377531868

In [8]:
s.min()

0.06519035377531868

In [10]:
s.mean()

0.597590139231288

In [11]:
s1 = Series([1,2,3])
s2 = Series([4,5,6])

In [12]:
s1 + s2

0    5
1    7
2    9
dtype: int64

In [13]:
s1 = Series([1,2,3], index=['A','B','C'])
s2 = Series([4,5,6], index=['A','D','E'])

In [14]:
s1 + s2

A    5.0
B    NaN
C    NaN
D    NaN
E    NaN
dtype: float64

# DataFrame

In [15]:
df = DataFrame(np.random.rand(20).reshape(4,5))
df

          0         1         2         3         4
0  0.277793  0.504502  0.476466  0.097938  0.345402
1  0.254092  0.793814  0.013134  0.280139  0.133119
2  0.550324  0.871230  0.410856  0.486428  0.448979
3  0.015123  0.988333  0.792580  0.071037  0.398478

In [16]:
df.sort_values(by=4) # 按照第四列排序

          0         1         2         3         4
1  0.254092  0.793814  0.013134  0.280139  0.133119
0  0.277793  0.504502  0.476466  0.097938  0.345402
3  0.015123  0.988333  0.792580  0.071037  0.398478
2  0.550324  0.871230  0.410856  0.486428  0.448979

In [23]:
df.sort_values(axis=1, by=1) # 按照第一行排序

          2         4         0         3         1
0  0.476466  0.345402  0.277793  0.097938  0.504502
1  0.013134  0.133119  0.254092  0.280139  0.793814
2  0.410856  0.448979  0.550324  0.486428  0.871230
3  0.792580  0.398478  0.015123  0.071037  0.988333

In [24]:
df.sort_index()

          0         1         2         3         4
0  0.277793  0.504502  0.476466  0.097938  0.345402
1  0.254092  0.793814  0.013134  0.280139  0.133119
2  0.550324  0.871230  0.410856  0.486428  0.448979
3  0.015123  0.988333  0.792580  0.071037  0.398478

In [25]:
df1 = DataFrame(np.random.rand(20).reshape(4,5), index=[3,2,1,4])

In [26]:
df1

          0         1         2         3         4
3  0.482935  0.147994  0.709032  0.469805  0.137343
2  0.293992  0.091320  0.185311  0.679298  0.119853
1  0.098539  0.164543  0.634605  0.901976  0.972805
4  0.513919  0.031931  0.629588  0.484277  0.392454

In [27]:
df1.sort_index()

          0         1         2         3         4
1  0.098539  0.164543  0.634605  0.901976  0.972805
2  0.293992  0.091320  0.185311  0.679298  0.119853
3  0.482935  0.147994  0.709032  0.469805  0.137343
4  0.513919  0.031931  0.629588  0.484277  0.392454

In [29]:
df1.max() # 每列的最大值

0    0.513919
1    0.164543
2    0.709032
3    0.901976
4    0.972805
dtype: float64

In [33]:
df1.max(axis=1) # 每行的最大值

3    0.709032
2    0.679298
1    0.972805
4    0.629588
dtype: float64

In [30]:
df1.mean() #每列平均值

0    0.347346
1    0.108947
2    0.539634
3    0.633839
4    0.405614
dtype: float64

In [31]:
df

          0         1         2         3         4
0  0.277793  0.504502  0.476466  0.097938  0.345402
1  0.254092  0.793814  0.013134  0.280139  0.133119
2  0.550324  0.871230  0.410856  0.486428  0.448979
3  0.015123  0.988333  0.792580  0.071037  0.398478

In [32]:
df.describe()

              0         1         2         3         4
count  4.000000  4.000000  4.000000  4.000000  4.000000
mean   0.274333  0.789470  0.423259  0.233886  0.331495
std    0.218923  0.206120  0.320201  0.192283  0.138848
min    0.015123  0.504502  0.013134  0.071037  0.133119
25%    0.194350  0.721486  0.311425  0.091213  0.292331
50%    0.265942  0.832522  0.443661  0.189039  0.371940
75%    0.345925  0.900506  0.555495  0.331711  0.411104
max    0.550324  0.988333  0.792580  0.486428  0.448979