> `pandas_datareader`库通过yahoo股票api获取股票数据

In [1]:
import pandas_datareader as pdr

In [2]:
# 获取阿里巴巴股票数据
df = pdr.get_data_yahoo('BABA')

In [3]:
df.shape

(1241, 6)

In [4]:
df.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2014-09-19  99.699997  89.949997  92.699997  93.889999  271879400  93.889999
2014-09-22  92.949997  89.500000  92.699997  89.889999   66657800  89.889999
2014-09-23  90.480003  86.620003  88.940002  87.169998   39009800  87.169998
2014-09-24  90.570000  87.220001  88.470001  90.570000   32088000  90.570000
2014-09-25  91.500000  88.500000  91.089996  88.919998   28598000  88.919998