In [1]:
from pandas import Series

# create

In [2]:
a = [1, 2, 3, 4]
s = Series(a)

In [3]:
s

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
s.values

array([1, 2, 3, 4])

In [7]:
s1 = Series(a, index=['a', 'b', 'c', 'd'])

In [8]:
s1

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
s1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [10]:
import numpy as np
s2 = Series(np.arange(5))

In [11]:
s2

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [12]:
s2.values

array([0, 1, 2, 3, 4])

In [13]:
d = {'A':1, 'B':2, 'C':3, 'D':4}
s3 = Series(d) #从字典创建Series

In [14]:
s3

A    1
B    2
C    3
D    4
dtype: int64

In [15]:
s3.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
s3.values

array([1, 2, 3, 4])

In [17]:
s3

A    1
B    2
C    3
D    4
dtype: int64

In [18]:
s3.to_dict() #转换为字典

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [21]:
s3['C']

3

In [23]:
s3[s3>2]

C    3
D    4
dtype: int64

In [24]:
type(s3[s3>2])

pandas.core.series.Series

In [26]:
s3.max() #.table键提示可用方法

4

In [28]:
s3.pop('A') #shift + table可用查看具体方法的使用提示

1

In [29]:
s3

B    2
C    3
D    4
dtype: int64

In [30]:
b = s3.pop('B')
b

2

In [31]:
s4 = Series(s3, index=['B', 'C', 'D'])

In [32]:
s4

B    NaN
C    3.0
D    4.0
dtype: float64

In [33]:
s4.isnull()

B     True
C    False
D    False
dtype: bool

In [34]:
s4.notnull()

B    False
C     True
D     True
dtype: bool

In [35]:
s4

B    NaN
C    3.0
D    4.0
dtype: float64

In [36]:
s5 = Series(s4, index=['C', 'D'])

In [37]:
s5

C    3.0
D    4.0
dtype: float64