In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
data = {
    'Country': ['China', 'India', 'Brazil'],
    'Capital': ['Beijing', 'New Delhi', 'Brasilia'],
    'Population': ['1432732201', '1303171635', '207847528']
}

In [4]:
df = DataFrame(data, index=['A', 'B', 'C'])
df

  Country    Capital  Population
A   China    Beijing  1432732201
B   India  New Delhi  1303171635
C  Brazil   Brasilia   207847528

In [11]:
df[1:2]

  Country    Capital  Population
B   India  New Delhi  1303171635

In [13]:
df.iloc[0:2, 0:1]

  Country
A   China
B   India

In [15]:
df.loc[['A','B']]

  Country    Capital  Population
A   China    Beijing  1432732201
B   India  New Delhi  1303171635

In [50]:
for row in df.iterrows():
    print(row[0],row[1])
    break

A Country            China
Capital          Beijing
Population    1432732201
Name: A, dtype: object

In [49]:
type(df.loc[['A','B']])

pandas.core.frame.DataFrame

In [22]:
data

{'Country': ['China', 'India', 'Brazil'],
 'Capital': ['Beijing', 'New Delhi', 'Brasilia'],
 'Population': ['1432732201', '1303171635', '207847528']}

In [23]:
s1 = Series(data['Country'])
s2 = Series(data['Capital'])
s3 = Series(data['Population'])

In [44]:
df_new = DataFrame([s1,s2,s3], index=['Country','Capital','Population'])
df_new

                     0           1          2
Country          China       India     Brazil
Capital        Beijing   New Delhi   Brasilia
Population  1432732201  1303171635  207847528

In [45]:
df_new = df_new.T # 反转
df_new

  Country    Capital  Population
0   China    Beijing  1432732201
1   India  New Delhi  1303171635
2  Brazil   Brasilia   207847528

In [46]:
df_new.index

RangeIndex(start=0, stop=3, step=1)

In [47]:
df_new.index = ['A', 'B', 'C']
df_new

  Country    Capital  Population
A   China    Beijing  1432732201
B   India  New Delhi  1303171635
C  Brazil   Brasilia   207847528